body{
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .search-scrollbar::-webkit-scrollbar {
    width: 2px;
  }
  .search-scrollbar::-webkit-scrollbar-thumb {
    background: #825b52;
  }
  .hero-bx {
    background: url('/src/Assets/hero-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .newsletter-bx {
    background: url('/src/Assets/newsletter.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .faq-bx {
    background: url('/src/Assets/faq.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .location:hover {
    background-color: #a8a4a4;
  }
}

.test {
  color: #212020;
}